<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="statusScreenBrick_container"></div>
    <script src="https://sdk.mercadopago.com/js/v2"></script>
    <script>
        const mp = new MercadoPago('{{public_key}}')
      const bricksBuilder = mp.bricks()
      const renderStausScreenBrick = async (bricksBuilder) => {
        const settings = {
          initialization: {
            paymentId: '1311595909', // id de pagamento gerado pelo Mercado Pago
          },
          callbacks: {
            onReady: () => {
              // callback chamado quando o Brick estiver pronto
            },
            onError: (error) => {
              // callback chamado para todos os casos de erro do Brick
            },
          },
        };
        window.statusBrickController = await bricksBuilder.create(
          'statusScreen',
          'statusScreenBrick_container',
          settings
        );
        };
        renderStausScreenBrick(bricksBuilder);
    </script>
</body>
</html>